# ==========================================
# Reverberus Environment Configuration
# ==========================================

# Zenoh Network Configuration
# The IP address where your Zenoh Router (zenohd) is running
ROUTER_IP="25.7.53.21"
# ROUTER_IP="127.0.0.1" # Uncomment for local-only testing

# Web Server Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=8080

# Node Configuration
DEFAULT_TEAM=alpha